.user-form {
  padding: 24px 16px;
  margin-bottom: 8px;
  background: darken($color: whitesmoke, $amount: 13%);
  border-radius: 4px;

  .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }
}